<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>About</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'trends/style1.css' %}"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
	<section class="hero">
		<div class="hero-inner">
			<h1 style="font-family: Georgia">City Trends</h1>
			<h2 style="font-family: Georgia">New To This City Or You Wanna Find Something New?  Let's Explore!</h2>
			<a style="font-family: Georgia" href="http://127.0.0.1:8000/trends/join" class="btn">Go ahead...</a>
		</div>
	</section>
</body>
</html>