<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} TrendCity {% endblock %}</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'trends/style.css' %}"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class ="navbar-brand" href="{% url 'Trends:trends'%}">CityTrend</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <!-- Need to create an about page, you can do this in HTML and CSS only. It is just text-->
      <a class="nav-item nav-link active" href="#">About<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{% url 'Trends:profile' %}">Profile</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <li class="nav-item dropdown">

          <!-- I want to have this as a drop down but it is not working.-->
          <!-- It should be renamed to Account, then three dropdowns would be Profile, Change Account Information, Change Password-->
        <a class="nav-link dropdown-toggle" href="{% url 'Trends:profile' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'Trends:change_password' %}">Action</a>
          <a class="dropdown-item" href="#">{% url 'Trends:edit_profile' %}</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

    </div>
    <!-- This needs to get moved to the right, should be on the bootstrap website-->
    <ul class="form-inline my-3 my-lg-0">
                {% if user.is_authenticated %}
      <font color="white">Logged as {{ user.username }}</font>
      <a class="btn btn-primary" href="{% url 'Trends:logout' %}">Logout</a>
    {% else %}
      <a class="btn btn-primary" href="{% url 'Trends:newJoin' %}">
        Login
      </a></ul>
    {% endif %}
  </div>
</nav>

    <!-- include a block of code.-->
{% block body %}
{% endblock %}
</body>
</html>