{% extends 'Trends/base.html' %}
{% block body %}
<h2>Random Recipes! </h2>
    <h4 class="text-center"> Welcome {{ user.username }} </h4>

<form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">

                        </div>
                    </form>

<h3>Enter your location and then select a recipe you like, we will recommend you similar restaurants in your area!</h3>
    <form action="http://127.0.0.1:8000/trends/yelp/" method="POST">{% csrf_token %}
            <input type="text" name="location" value="location here!"/>
        {%  for r in recipe %}
            <input type="submit" name="input" value='{{ r.title }}'/>
            <img src= "{{r.photo}}" alt="food" height="200" width="200">
        {% endfor %}
    </form>
{% endblock %}

