{% extends 'Trends/base.html' %}
{% block body %}
    <h2>PyTrends </h2>
            <form method ="POST" action=".">
            {% csrf_token %}
            <input type ="text" name = "trends" value="{{F}}" />
            <p>
                <input type="submit" name ="finalPy" value ="Trends" />
            </p>
            </form>
    <ul>
    {% for r in  pytResult %}
        <li><input type="submit" name="input" value='{{ r}}'/></li>
    {%  endfor%}
    </ul>

    {% comment %} <form method="POST" role = "form">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                {{ form.trends }}
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-info">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>{% endcomment %}
{% comment %}{% for trends in pyTrendsData %}
    <ul>
        <li>{{ trends.top1}}</li>
        <li>{{ trends.rising1}}</li>
    </ul>

  {% endfor %}{% endcomment %}
{% endblock %}