{% extends 'Trends/base.html' %}
{% block body %}
<h2>Yelp Recommendations </h2>


                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <h4 class="text-center"> Welcome {{ user.username }} </h4>
                            </div>



   {% for restaurant in restaurant_data %}
    <ul>
        <li>{{ restaurant.name}} {{ restaurant.location }}</li>
        <li>{{ restaurant.rating }}</li>
        <li>{{ restaurant.phone }}</li>
    </ul>

  {% endfor %}
{% endblock %}