{% extends 'Trends/base.html' %}
{% block body %}
<h2>Yelp Recommendations </h2>

    <div id = "favorite-section">
        <a href="#">
            <i class="far fa-bookmark"></i>
        </a>
    </div>
   {% for restaurant in restaurant_data %}
    <ul>
        <li>{{ restaurant.name}} {{ restaurant.location }}</li>
        <li>{{ restaurant.rating }}</li>
        <li>{{ restaurant.phone }}</li>
        <li><img src ="{{ restaurant.image }}" alt = "{{ restaurant.name }}" style="width: 200px; height: 200px;"></li>
    </ul>
  {% endfor %}
{% endblock %}